html {
  position: relative;
  min-height: 100%;
}
body{
    font-size: 14px;
    margin-bottom: 70px;
}

.page-header{
    margin: 20px;
}

.page-body{
    margin: 0 20px;
}
.page-body .well{
    height: 105px;
}

.feedback-list .panel-heading{
    padding-top: 5px;
    padding-bottom: 5px;
}
.feedback-list h4{
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}
.feedback-list h4{
    margin-right: 10px;
}
.feedback-list .title{
    font-size: 16px;
    color: #666;
}
.feedback-list .title:hover, .feedback-list .title:visited{
    color: #999;
}
.btn-feedback{
    margin-left: 10px;
}
.username{
    margin-right: 10px;
}
.feedback-view h4{
    margin: 3px 0;
}

.page-footer{
    line-height: 50px;
    background-color: #f7f7f9;
    border-top: 1px solid #e1e1e8;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}