body{
    color: #666;
    background: url("../img/bg.png") repeat;
}

.hidden-content {
    display: none;
}

.size{
    background-color: black;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}
:disabled .size{
    background-color: #fff;
}
.size-1{
    width: 5px;
    height: 5px;
}
.size-2{
    width: 10px;
    height: 10px;
}
.size-3{
    width: 14px;
    height: 14px;
}
.size-4{
    width: 18px;
    height: 18px;
}
.color{
    width:14px;
    height:14px;
    display:block;
    margin: 0 auto;
}
:disabled .color{
    background-color: #fff;
}
.color-black {
    background-color:black;
}
.color-red {
    background-color:red;
}
.color-blue {
    background-color:blue;
}
.color-yellow {
    background-color:rgba(255,255,0,0.6);
}

/* 容器 */
.wrapper{
    padding-left: 410px;
    padding-right: 5px;
    min-width: 1120px;
}

/* 左侧 侧边栏 */
.sidebar{
    background: #f2f2f2;
    color: #777;
    width: 405px;
    float: left;
    margin-left: -405px;
    padding-right: 5px;
    border-right: 1px solid #ccc;
}
.logo {
    background: url(../img/logo.png) no-repeat;
    height: 63px;
    margin-bottom: 5px;
}

/* 视频 */
.video-area{
    padding: 1px 0 0 1px;
    overflow: hidden;
    margin-bottom: 5px;
}
.video-wrapper {
    border: 1px solid #2a7ccd;
    width: 200px;
    height:150px;
    line-height: 150px;
    margin-left: -1px;
    margin-top: -1px;
    float: left;
    text-align:center;
    position: relative;
}
.video-wrapper .animate-arrow{
    position: absolute;
    top: 12px;
    left: 90px;
}
.video-wrapper .btn {
	vertical-align: middle;
}
.video-wrapper video{
    width: 100%;
    height: 100%;
}
.mirror-video{
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
}
.ctrl-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    opacity: 0.8;
}
.btn-fullscreen{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 80px;
    top: 45px;
}
.btn-audio-toggler{
    margin-top: 90px;
}
.media-btn-all .btn-video-toggler{
    position: absolute;
    left: 5px;
    bottom: 5px;
}
.media-btn-all .btn-audio-toggler{
    position: absolute;
    right: 5px;
    bottom: 5px;
}


/* 上课记时 */
.classclock{
    overflow: hidden;
    margin-bottom: 5px;
}
.clock-operate{
    width: 50%;
    float: left;
}
.clock-operate .btn-block+.btn-block{
    margin-top: 0;
}
.classclock .btn-group{
    width: 100%;
    float: left;
}
.classclock .btn-group button{
    width: 50%;
}

.classclock .class-time{
    line-height: 34px;
    font-size: 30px;
    width: 50%;
    float: left;
    text-align: center;
    background-color: #fff;
}


/* 聊天室 */
.chat-area{}
.chat-content{
	overflow-y: auto;
	overflow-x: hidden;
    background: #FFF;
	height: 12em;
	margin-bottom: 5px;
    padding: 0;
}
.chat-content li{
    padding: 5px 5px 0px 8px;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}
.chat-content li p{
    margin: 0;
    white-space: normal;
    word-wrap: break-word;
}
.chat-content .chat-username{
    font-weight: bold;
}
.chat-content .chat-timestamp{
    font-size: 11px;
    color: #969696;
}
.chat_tools {
    margin-bottom: 5px;
}

/* 工作区 */
.main {
    border-left: 1px solid #ccc;
    margin-left: -1px;
}
.etherpad-container{
    position: relative;
}
.toolbar{
    margin-bottom: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    padding: 3px;
    border: 0;
    min-width: 772px;
    background-color: #ddd;
    box-shadow: none;
    text-align: center;
}
.toolbar .toolbar-inner{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.board-actions, .board-tools,.board-styles,.board-others{
    float: left;
    margin-right: 3px;
    position: relative;
}
.board-actions > div:not(:first-child){
    margin-left: -1px;
}
.board-actions > div:first-child button{
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.board-actions > div:last-child button{
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.board-actions > div:not(:first-child):not(:last-child) button{
    border-radius: 0 !important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
}
.board-tools .btn-lg{
    padding-bottom: 8px;
}
.board-tools .btn-lg > i{
    display: block;
    padding-bottom: 6px;
}
.board-tools .btn-lg span{
    font-size: 16px;
}
.tool-shapes-container.bottom{
    position: absolute;
    top: 65px;
    z-index: 1001;
    width: 238px;
    left: 45px;
}
.tool-shapes-list{
    list-style: none;
    padding: 5px;
    margin: 0;
}
.tool-shapes-list li{
    display: inline-block;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 1px;
    border: 1px solid #fff;
    text-indent: -999px;
    cursor: pointer;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.tool-shapes-list li.active{
    background-color: #ebebeb;
    border-color: #adadad;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
.tool-shape-rect{
    background-image: url(../img/shape/rect.png);
}
.tool-shape-ellipse{
    background-image: url(../img/shape/circle.png);
}
.tool-shape-triangle{
    background-image: url(../img/shape/triangle.png);
}
.tool-shape-right-triangle{
    background-image: url(../img/shape/right-triangle.png);
}
.tool-shape-line{
    background-image: url(../img/shape/line.png);
}
.tool-shape-arrow{
    background-image: url(../img/shape/arrow.png);
}
.tool-shape-double-arrow{
    background-image: url(../img/shape/double-arrow.png);
}

.board-styles .btn-group{
    display: block;
    overflow: hidden;
}
.board-styles .btn-group:not(:first-child){
    margin-top: -1px;
}
.board-styles .btn-group:first-child button:first-child{
    border-bottom-left-radius: 0 !important;
}
.board-styles .btn-group:first-child button:last-child{
    border-bottom-right-radius: 0 !important;
}
.board-styles .btn-group:last-child button:first-child{
    border-top-left-radius: 0 !important;
}
.board-styles .btn-group:last-child button:last-child{
    border-top-right-radius: 0 !important;
}

.board-styles button{
    height: 34px;
    width: 34px;
    padding: 0;
}
/*上传模块样式*/
.upload-drawer {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 100%;
    min-height: 34px;
    margin-bottom: 0;
    padding: 5px 10px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ddd;
}
.upload-drawer .inner{
    width: 690px;
    margin: 0 auto;
    position: relative;
    padding-right: 30px;
}
/* 上传错误信息 */
.upload-error {
    margin-bottom: 5px;
    padding: 5px;
}
.upload-fields{
    overflow: hidden;
    line-height: 24px;
    font-size: 12px;
}
.upload-fields .upload-field {
    height: auto;
    float: right;
}
.upload-fields .upload-field input{
    cursor: pointer;
}
.upload-fields .upload-file-types {
    vertical-align: middle;
    float: left;
}
.upload-drawer-close {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    padding: 0;
    font-weight: 700;
    font-family: 'Avenir Next W01';
    font-size: 20px;
    background-color: transparent;
}
.upload-progress{
    margin-bottom: 0;
}

.board-container{
    position: relative;
    height: 800px;
    width: 760px;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    box-shadow: -1px -1px 10px #ccc;
    margin: 5px auto;
    box-sizing: content-box;
    -moz-box-sizing: content-box; /* Firefox */
    -webkit-box-sizing: content-box; /* Safari */
    background: url("../img/main-back.png") repeat;
}

.board-container .inner{
    position: absolute;
    width: 100%;
    height: 100%;
}

.tip-container{
    display: none;
    line-height: 400px;
    z-index: 998;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ffc;
    background: rgba(255,255,169,0.3);
}

/* 绘图区域 */
/*canvas*/
 .kineticjs-content{
    display: block !important;
 }
.pen .kineticjs-content{
	cursor: url('../img/cursor-pen.png') 0 31, auto!important;
}
.eraser .kineticjs-content{
	cursor: url('../img/cursor-eraser.png') 8 30, auto!important;
}
.text .kineticjs-content{
	cursor: url('../img/cursor-text.png') 17 14, auto;
}
.shape .kineticjs-content{
	cursor: crosshair;
}
/*附件展示：图片，pdf*/
.image-container img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.image-container .pdf-container{
    width: 100%;
    height: 100%;
    display: block;
}

/* 分页 */
.board-bottom{
    text-align: center;
    width: 760px;
    margin: 0 auto;
    margin-top: 10px;
    height: 32px;
}
.board-bottom .page-wrapper{
    display: inline-block;
}
.pagination{
    margin: 0;
    text-align: left;
    position: fixed;
    bottom: 5px;
    margin-left: 1px;
    z-index: 999;
}

/* ajax loading info */
.loadingbar{
	background-color: rgba(0,0,0,0.3);
	z-index:99999;
    text-align: center;
}
.loadingbar .progress{
    width: 50%;
    height: 22px;
    line-height: 22px;
    margin-top: 20%;
    display: inline-block;
}
.loadingbar .progress-bar{
    font-size: 14px;
}

/*pdf渲染*/
.image-container .viewerContainer{
    position: static;
}

.popover{
    max-width: inherit;
}

.label{
    position: relative;
    top: -2px;
}

