html {
  position: relative;
  min-height: 100%;
}
body{
    font-size: 14px;
    margin-bottom: 70px;
}

.page-header{
    margin: 20px;
}

.page-body{
    margin: 0 20px;
}

table thead{
    background-color: #eee;
}

.centered-cell{
    text-align: center;
}

.ip{
    display: block;
}
.page-footer{
    line-height: 50px;
    background-color: #f7f7f9;
    border-top: 1px solid #e1e1e8;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}