html {
    position: relative;
    min-height: 100%;
    background: url(../img/bg.jpg) repeat;
    background-size: cover;
}
body{
    font-size: 14px;
    margin-bottom: 50px;
    background: transparent;
}

h1,h2,h3{
    line-height: 1.42857143;
}

.header{
    min-width: 430px;
}
.header h1{
    text-align: center;
    margin: 35px auto 0;
    font-size: 40px;
    color: #ff0;
    font-family: 黑体;
}
.header h2{
    text-align: center;
    margin: 22px auto 0;
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    font-family: 黑体;
}

.pop{
    margin: 0 auto;
    padding: 50px 0;
    width: 400px;
}
.pop-title{
    background: rgba(255,255,255,0.6) url('../img/title.png') no-repeat 50% 50%;
    text-indent: -999px;
    overflow: hidden;
    font-size: 16px;
    color: #000;
    padding: 15px 0;
    margin: 0;
    font-family: 黑体;
    font-weight: bold;
    text-align: center;
}
.pop-body{
    background: rgba(255,255,255,0.4);
    border-top: 1px solid rgba(255,255,255,0.5);
    margin-bottom: 15px;
}
.pop-body p{
    text-align: center;
    font-size: 12px;
    color: #666666;
    line-height: 30px;
}
.pop-btns{
    padding: 30px 40px 0;
}
.pop-btns .btn{
    margin-bottom: 15px;
    text-align: left;
    padding-left: 4em;
    transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
}
.browsers{
    border-top: 1px solid rgba(255,255,255,0.5);
    padding-top: 10px;
}
.browsers p{
    margin-bottom: 0;
    color: #333;
}
.browsers ul{
    margin: 0 auto 10px;
    padding: 5px 0 0;
    width: 210px;
}
.browsers ul li{
    padding: 10px;
    float: left;
}
.browsers ul li a{
    display: block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    text-indent: -999px;
    background-repeat: no-repeat;
}
.browsers ul li a.chrome{
    background-image: url('../img/chrome.jpg');
}
.browsers ul li a.baidu{
    background-image: url('../img/baidu.jpg');
}
.browsers ul li a.aoyou{
    background-image: url('../img/aoyou.jpg');
}
.browsers ul li a.sogou{
    background-image: url('../img/sougou.jpg');
}


.footer{
    line-height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size:12px;
    color: #fff;
    overflow:hidden;
    background: rgba(0, 0, 0, .35);
}
.footer span{
    margin: 0 12px;
}
.footer a{
    color: #fff;
}

.modal-footer{
    margin-top: 0;
}
.checkbox{
    padding-left: 120px;
}

.form-group .label{
    position: relative;
    top: -2px;
}