﻿<!DOCTYPE html>
<html class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>海角课堂在线教学工具</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="海角课堂是海角网络公司开发的在线视频教学工具。">
    <meta name="author" content="海角课堂在线教学">
    <meta name="keywords" content="家教视频,在线教育,海角课堂">
    <meta name="robots" content="index,follow">
    <meta name="application-name" content="haijiaoedu.com">
    <!-- Le styles -->
    <link href="/static/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="http://www.bootcss.com/p/google-bootstrap/assets/css/docs.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.bootcss.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.bootcss.com/p/google-bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.bootcss.com/p/google-bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.bootcss.com/p/google-bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://www.bootcss.com/p/google-bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="http://www.bootcss.com/p/google-bootstrap/assets/ico/favicon.png">
    <style type="text/css">
    ul,li{padding:0;}
    .example-sites {
        list-style-type:none;
    }
    .example-sites > li:not(:last-child) {
        float:left;
    }
    </style>
</head>
<body style="padding-top:0;">
    <div class="jumbotron masthead" style="z-index:2001;">
        <div class="container">
            <h1 style="font-size: 60px;">上海交通大学</h1>
            <p>海角课堂在线远程1V1教学工具</p>
            <p>
            <a href="#" id="create-room" data-toggle="modal" data-target="#modal-create-room" class="btn btn-success btn-large">创建教学房间</a>
            </p>
            <ul class="masthead-links">
                <li>2014.4.1</li>
                <li>更新Version 2.2.2</li>
            </ul>
        </div>
    </div>
    <div class="bs-docs-social">
        <div class="container">
            <ul class="bs-docs-social-buttons">
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="marketing">
            <h1 style="font-size: 50px;">永久免费服务线上家教、远程支教等</h1>
            <p class="marketing-byline">无论您身处天涯海角，时刻为你连线名师.</p>
            <div class="row-fluid">
                <div class="col-md-4">
                    <img class="marketing-img" src="/static/media/bs-docs-responsive-illustrations.png">
                    <h2>支持多版本浏览器</h2>
                    <p>在线教学工具支持多种主流浏览器，包括<a href="http://www.google.cn/intl/zh-CN/chrome/browser/" target="_blank">google浏览器</a>，<a href="http://www.maxthon.cn/" target="_blank">遨游浏览器</a>，<a href="http://chrome.360.cn/" target="_blank">360浏览器</a>等等。(点击下载) </p>
                </div>
                <div class="col-md-4">
                    <img class="marketing-img" src="/static/media/bs-docs-twitter-github.png">
                    <h2>查看教学视频</h2>
                    <p>演示如何加入海角大家庭以及如何更有效率的使用海角课堂在线教学工具。<a href="http://video.sina.com.cn/v/b/112687522-3707916701.html?qq-pf-to=pcqq.c2c">点击查看</a> </p>
                </div>
                <div class="col-md-4">
                    <img class="marketing-img" src="/static/media/bs-docs-bootstrap-features.png">
                    <h2>有3000人使用</h2>
                    <p>来自30个省份，368所大学，授课时长累计超过3万个小时。教学工具。<a href="http://room.haijiaoedu.com">点击查看</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
            <hr class="soften">
            <h1>海角课堂联盟</h1>
            <p class="marketing-byline">已有100所大学加入我们, <a href="http://haijiaoedu.com/" target="_blank">点击加盟</a></p>
            <div class="container-fluid">
                <ul class="example-sites row">
                    <li class="col-md-2" style="max-width:305px;">
                        <a class="thumbnail" href="http://haijiaoedu.com/" target="_blank">
                        <img src="/static/media/fudan.png" alt="SoundReady.fm">
                        </a>
                    </li>
                    <li class="col-md-2" style="max-width:305px;">
                        <a class="thumbnail" href="http://haijiaoedu.com/" target="_blank">
                        <img src="/static/media/kippt.png" alt="Kippt">
                        </a>
                    </li>
                    <li class="col-md-2" style="max-width:305px;">
                        <a class="thumbnail" href="http://www.haijiaoedu.com/" target="_blank">
                        <img src="/static/media/jiaotong.jpg" alt="Gather Content">
                        </a>
                    </li>
                    <li class="col-md-2" style="max-width:305px;">
                        <a class="thumbnail" href="http://www.haijiaoedu.com/" target="_blank">
                        <img src="/static/media/qinghua.png" alt="Gather Content">
                        </a>
                    </li>
                    <li class="col-md-2" style="max-width:305px;">
                        <a class="thumbnail" href="http://www.haijiaoedu.com/" target="_blank">
                        <img src="/static/media/tongji.png" alt="Gather Content">
                        </a>
                    </li>
                    <li class="col-md-2" style="max-width:305px;">
                        <a class="thumbnail" href="http://www.haijiaoedu.com/" target="_blank">
                        <img src="/static/media/soundready.png" alt="JS Hint">
                        </a>
                    </li>
                    <li class="clearfix"></li>
                </ul>
            </div>
            <a href="#" style="font-size: 20px;" target="_blank">查看更多</a>
        </div>
    </div>
    
    <!-- create room dialog -->
    <div id="modal-create-room" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="z-index:9999;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">创建教学房间</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="form-create-room">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">您的昵称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="uname" placeholder="您的昵称" data-rule-required="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">房间名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" placeholder="房间名称" data-rule-required="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">房间备注</label>
                            <div class="col-sm-10">
                                <textarea name="note" placeholder="备注内容限制在50字以内" class="form-control" data-rule-maxlength="50"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-create-room">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer ================================================== -->
    <footer class="footer">
        <div class="container">
            <ul class="footer-links">
                <li><a href="http://haijiaoedu.com/" target="_blank">使用前必读</a></li>
                <li class="muted">|</li>
                <li><a href="http://www.haijiaoedu.com/index.php?app=23&action=1" target="_blank">关于我们</a></li>
                <li class="muted">|</li>
                <li><a href="http://www.haijiaoedu.com/index.php?app=23&action=2" target="_blank">意见反馈</a></li>
            </ul>
            <p><a href="http://haijiaoedu.com" target="_blank">海角O2O家教平台</a>版权所有 | 沪ICP备12023789-2号</p>
        </div>
    </footer>

    <div id="site-navbar" style=" z-index:2999;position: absolute; top: -4px; left: -3px; border: 0; padding:0;margin:0;">
        <a href="http://www.haijiaoedu.com/" title="返回首页" style="background:none;">
        <img src="/static/media/return-back.png" style="padding:0;margin:0;border:0; -webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;">
        </a>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/lib/js/jquery-1.10.2.min.js"></script>
    <script src="/static/lib/js/bootstrap.min.js"></script>
    <script src="/static/lib/js/jquery.validate.js"></script>
    <script src="/static/lib/js/jquery.validate.messages_zh.js"></script>
    <script src="/static/lib/js/jquery.validate.unobtrusive.js"></script>
    <script src="/static/lib/js/bootstrap-validation.js"></script>
    <script src="/static/lib/js/jquery.cookie.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>